# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Modelio
/data/
.runtime/
*.conf

# NetBeans
build/
/Expression/nbproject/private/
/Convertisseur/nbproject/private/
/Convertisseur/dist/
*.xml
/JavaFXConvertisseur/nbproject/private/
/JavaFXConvertisseur/dist/
/TP6/nbproject/private/
/TP7/GestionNoteFX/nbproject/private/
/TP7/GestionNoteFX/dist/
/.metadata/
/TP8/EvaluateurExpression/nbproject/private/
/TP9/EvaluateurExpressionEtendue/nbproject/private/
/TP13/EvaluateurExpression/nbproject/private/
/TP13/EvaluateurExpressionTP13/nbproject/private/

.runtime
data
project.conf
.classpath
.project
.settings